/************LandingPage***************/
@import url('https://fonts.googleapis.com/css?family=Poppins:900&display=swap');

.landing  {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100%;
}

.landing_logo {
  letter-spacing: 5px;
  color: black;
  height: auto;
  font-size: 180px;
  z-index: 3;
  margin-top: 200px;
  animation: focus-in-contract 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.landing_bgImg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: url("../image/4.jpg");
}

.landing_bgImg1 {
  background: url("../image/4.jpg");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
}

.landing_gradiant_h {
  z-index: 3;
  position: absolute;
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}



.landing_gradiant_h::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  /*이런식으로 gradient를 넣을 수도 있다.*/
  background: linear-gradient(#37eba9d9 0%, #5b37eb 100%);
  transform: translate(-50%, -50%);
  transition: 0.13s ease-out;
}


/*그라데이션 크기 설정.*/
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* rotate도 하면 좋은데 easing을 설정하면 마우스커서대로 안감...*/
.landing_gradiant_h:hover::before {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  filter: blur(calc(var(--size) / 5));
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  --speed: 10s;
  --size: 500px;
  animation: rotate var(--speed) var(--easing) alternate infinite;
}


@keyframes movebg {
  0% {background-position: 0;}
  100% {background-position: 0 -500px;}
}

.landing_button {
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  z-index: 4;
  background: none;
  font-size: 40px;
  font-family: sans-serif;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 600;
  font-style: italic;
  margin-top: 40vw;
  padding: 30px;
  animation: text-flicker-in-glow 3s linear both;
  transition: 1s;
}


.landing_button:hover {
  border-radius: 20px;
  box-shadow: 0 0 0 5px white;
  transition: 0.4s;
}

/*text flicker 반짝거리는거.*/
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}

/*background color를 rgb()/
/**************************************/







/***********MarketPlaceCss**************/

/***********MarketPlace_Section1_Css**************/
.marketplace {
  background-color: white;
}
.marketplace_main {
  margin-top: 72px;
  display: block;
  box-sizing: border-box;
}
.marketplace_container {
  display: flex;
  flex-direction: column;
}

.marketplace_section1 {
  display: flex;
}

.marketplace_section1_img {
  width: 100%;
  height: 225px;
  border-bottom-left-radius: 230px;
  box-sizing: border-box;
}
.marketplace_section1_span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: italic;
  color: rgba(255, 255, 255, 0.915);
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  height: 225px;
  font-weight: 600;
}
/***********MarketPlace_Section1_Css**************/


/***********MarketPlace_Info_Css**************/


.marketplace_info {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  padding: 0 36px;
  padding-bottom: 50px;
  flex-direction: column;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.413);
}

.marketplace_info_container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding-top: 10px;
}

.marketplace_info_avatar {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 30px;
  background: url('../image/loading.jpg');
  cursor: pointer;
  box-shadow: 0 0 20px rgba(45, 104, 141, 0.829);
}

.marketplace_info_name {
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 38px;
}
.marketplace_info_flexgrow {
  flex-grow: 1;
}
.marketplace_info_detail {
}


.marketplace_description_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.marketplace_description_contents {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 750px;
  min-height: 120px;
  font-size: 18px;
}

.marketplace_description_eth {
  margin-left: 300px;
  font-size: 23px;
}

.marketplace_description_dollars {
  font-size: 23px;
  
}

.marketplace_contents_container {
  font-family: sans-serif;
  display: grid;
}


.marketplace_contents_dividing {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 50px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.413);

}

.marketplace_contents_b2c {
  padding-bottom: 10px;
  margin-right: 10px;
}

.marketplace_contents_p2p {
  padding-bottom: 10px; 
  margin-left: 10px;
}

.marketplace_b2c_button_click {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  border-bottom: 3px solid blue;
  border-radius: 3px;
  
}

.marketplace_button_default {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}




.marketplace_contents {
  display: grid;
  grid-template-columns: 1fr 5fr;

}

.marketplace_contents_sidebar {
  display: grid;
  justify-items: center;
  border-right: 0.5px solid rgba(0, 0, 0, 0.413);
  padding-top: 30px;

  height: calc(100vh);
}

.marcketplace_contents_input {
  align-items: center;
  justify-content: center;
  display: flex;
}

.marketplace_contents_input_s {
  
}







.marketplace_contents_nfts {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
  grid-gap: 24px;
  gap: 24px;
  justify-items: center;
  padding: 16px;
  
}

.marketplace_contents_nft_container {
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  width: 220px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  padding: 8px;
  height: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px #dee2ff;
  
}
.marketplace_contents_nft_container:hover {
  box-shadow: 0 0 20px rgba(45, 104, 141, 0.829);
  transition: 300ms;
}
.marketplace_contents_nft_img {
  border-radius: 10px;
  position: relative;
  background: url('../image/TokyoNFT2.jpg');
  background-repeat: none;
  overflow: hidden;
  width: 220px;
  height: 220px;
}

.marketplace_contents_nft_img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(51, 43, 48, 0.85);
}
.marketplace_contents_whiteimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 220px;
  display: flex;
}

.marketplace_contents_whiteimg span {
  width: 20%;
  height: 105%;
  background: url("../image/TokyoNFT2.jpg");
  transition: 0.3s ease;
  align-items: center;
  background-size: cover;
}

.marketplace_contents_whiteimg.hover span:nth-child(1) {
  border-bottom-left-radius: 5px;
  background-position: 0%;
  transition-delay: 0s;

}
.marketplace_contents_whiteimg span:nth-child(2) {
  background-position: 25%;
  transition-delay: 50ms;
}
.marketplace_contents_whiteimg span:nth-child(3) {
  background-position: 50%;
  transition-delay: 100ms;
}
.marketplace_contents_whiteimg span:nth-child(4) {
  background-position: 75%;
  transition-delay: 150ms;
}
.marketplace_contents_whiteimg span:nth-child(5) {
  border-bottom-right-radius: 5px;
  background-position: 100%;
  transition-delay: 200ms;
}


.marketplace_contents_whiteimg:hover > span {
  transform: translateY(-100%);
}


.marketplace_contents_contentwrapper {
  
  position: absolute;
  display: flex;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  align-items: center;
  flex-direction: column;
  color: white;
  height: 220px;
  width: 100%;
  transform: translateY(100%);
}

.marketplace_contents_whiteimg:hover .marketplace_contents_contentwrapper{
  transform: translateY(0%);
  transition: 0.3s ease-in-out;
  transition-delay: 0.1s;
}

.marketplace_contents_contentwrapper h2{
  font-size: 30px;
}

.marketplace_contents_contentwrapper p {
  font-family: 'Roboto',sans-serif;
  line-height: 25px;
}
.marketplace_contents_nft_info_container {
  font-family:"Poppins";
  display: flex;
  justify-content: space-between;
}

.marketplace_contents_nft_info {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.marketplace_contents_nft_seminame {
  font-size: 12px;
  font-weight: 300;
  color: rgba(128, 128, 128, 0.658);
}

.marketplace_contents_nft_name {
  padding-top: 4px;
  font-size: 18px;
  font-weight: 300;
}

.marketplace_contents_nft_values {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  padding-right: 300;
}

.marketplace_contents_nft_price {
  font-size: 12px;
  font-weight: 300;
  color: rgba(128, 128, 128, 0.658);
}

.marketplace_contents_nft_eth {
  padding-top: 4px;
  font-weight: 300;
  color: rgb(254, 183, 96);
}
/***********MarketPlace_Info_Css**************/


/**************************************/